{% if c.HAS_PEOPLE_ACCESS %}
<script type="text/javascript">
    MENU.push({
        'Badge Printing': [
            {'List Printed Badges': '../kiosk_printing/'},
            {'List Pending Badges': '../kiosk_printing/index?pending=True'},
            {'Print Badges': '../kiosk_printing/print_badges'}
        ]
    });
</script>
{% endif %}

{% if c.PAGE_PATH == '/registration/form' %}
    <script type="text/javascript">
        $(function () {
            $('#reprint_fee').insertAfter($.field('badge_status').parents('.form-group'));
        });
    </script>

    <div id="reprint_fee" class="form-group">
    {% include "kiosk_printing/reprint_fee.html" %}
    </div>
{% endif %}